@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  background-color: #6e2142;
}

#gameroot {
  text-align: center;
}

#gameroot > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

#gameroot > h1 {
  font-family: 'Acme', sans-serif;
  color: #ffd692;
  font-size: 8em;
  margin: .2em 0;
}

#gameroot > p {
  font-family: 'Acme', sans-serif;
  color: #e16363;
  font-size: 2em;
  max-width: 50%;
  margin-left: 25%;
}